@font-face{
	font-family: COD;
	src: url("COD.otf") format("opentype");
}

span.cell{
	height:20px;
	width:20px;
	background-color: #73976D;
	padding:0;
	margin:0;
	position:absolute;
	border:black solid 1px;
}

span.cell:hover{
	opacity: 0.7;
}

#colorChooser{
	position: absolute;
	top: 775px;
	margin-left:440px;
	border: black solid 4px;
	color:white;
	background-color:darkred;
}

#musicChooser{
	position: absolute;
	top: 850px;
	margin-left: 1%;
	border: black solid 4px;
	color:white;
	background-color:darkred;
}

#factions{
	position: absolute;
	top: 775px;
	margin-left:720px;
	border: black solid 4px;
	color:white;
	background-color:darkred;
}

#score{
	position: absolute;
	top: 805px;
	margin-left:644px;
	color:darkred;
	font-size: .7em;
	font-family: 'Press Start 2P', cursive;
}

#difficulty{
	position: absolute;
	top: 740px;
	margin-left:720px;
	border: black solid 4px;
	color:white;
	background-color:darkred;
}

#diffLabel{
	position: absolute;
	top: 736px;
	margin-left:600px;
	color:darkred;
	font-size: .7em;
	font-family: 'Press Start 2P', cursive;
}

#scenarioLabel{
	position: absolute;
	top: 771px;
	margin-left:611px;
	color:darkred;
	font-size: .7em;
	font-family: 'Press Start 2P', cursive;
}

#gridContainer{
	top:60px;
	left:1%;
	padding:0;
	display:inline-block;
	position:absolute;
}

#button{
	background-color: darkred;
    border: 4px solid black;
    color: white;
    padding: 16px 30px;
	text-align: center;
    display: inline-block;
    font-size: 1em;
	font-family: 'Press Start 2P', cursive;
	position:absolute;
	top:760px;
	margin-bottom:10px;
	margin-left:1%;
}

#button:hover{
	color:darkred;
	background-color:white;
}

#button:active{
	background-color:darkred;
	color:white;
}

#newButton{
	background-color: darkred;
    border: 4px solid black;
    color: white;
    padding: 10px 15px;
	text-align: center;
    display: inline-block;
    font-size: .75em;
	font-family: 'Press Start 2P', cursive;
	position:absolute;
	top:850px;
	margin-bottom:10px;
	margin-left:720px;
}

#newButton:hover{
	color:darkred;
	background-color:white;
}

#newButton:active{
	background-color:darkred;
	color:white;
}

#gold{
    color: darkred;
    padding: 16px 30px;
	text-align: center;
    display: inline-block;
    font-size: 1em;
	font-family: 'Press Start 2P', cursive;
	position:absolute;
	top:738px;
	margin-bottom:10px;
	margin-left:200px;
}


#goldRate{
	color: darkred;
    padding: 16px 30px;
	text-align: center;
    display: inline-block;
    font-size: 1em;
	font-family: 'Press Start 2P', cursive;
	position:absolute;
	top:762px;
	margin-bottom:10px;
	margin-left:200px;
}
h1{
	font-family: 'COD', cursive;
	display: inline-block;
	position:absolute;
	font-size:2.5em;
	top: -18px;
	left: 1%;
}

body{
	background-color:#F4F5E3;
    -webkit-user-select: none;
	cursor:pointer;
}

footer{
	font-family: 'Press Start 2P', cursive;
	position:absolute;
	top:910px;
	margin-bottom:10px;
	margin-left:1%;
	font-size:1em;
}

a:hover{
	color:darkred !important;
}

a{
	text-decoration:underline;
}

a:active{
	color:red !important;
}

a:visited{
	color:black;
}

aside{
	position:absolute;
	margin-left:1000px;
	top:48px;
	font-family: 'Press Start 2P', cursive;
	margin-right:100px;
}

h2{
	font-size:1em;
}

p{
	font-size:.9em;
	margin-left:10px;
	line-height:140%;
}

section{
	position:absolute;
	top:60px;
	left:30px;
	font-family: "Helvetica", Sans-Serif;
	margin-right:50%;
}